<div class="galerie">
	{% for image in images %}
		<div class="miniature">
			<a class="btn-suppression-image" href="{{path('galeries_supprimer_image',{'id':image.id})}}" data-delete data-token="{{csrf_token('delete' ~ image.id)}}">&times;</a>
			<a class="imageLink" href="{{asset('uploads/images/'~image.name)}}" alt="">
				<img src="{{asset('/uploads/images/mini/300x300-' ~ image.name)}}" alt="{{image.name}}" width="150" draggable="true">
			</a>
			{# <div class="infos-image">
							<table>
								<tr>
									<td>Taille :</td>
									<td>200x300px</td>
								</tr>
								<tr>
									<td>Auteur:
									</td>
									<td>John Doe</td>
								</tr>
								<tr>
									<td>Copyright :</td>
									<td>2024</td>
								</tr>
							</table> 
						</div>#}
		</div>
	{% endfor %}
</div>
