{% extends 'base.html.twig' %}

{% block title %}S'inscrire
{% endblock %}

{% block body %}
	<h1 class="titre centered">S'inscrire</h1>

	<form method="POST">
	<section>
		{{ form_start(registrationForm) }}		
			{{ form_row(registrationForm.nickname) }}	
			{{ form_row(registrationForm.email) }}
			{{ form_errors(registrationForm.email) }}		
			{{ form_row(registrationForm.plainPassword) }}
			{{ form_row(registrationForm.agreeTerms) }}
	
		<button type="submit" class="btn centered">S'inscrire</button>
		<p>Déjà inscrit(e) ?
			<a href="{{path('app_login')}}">Me connecter</a>
		</p>
		{{ form_end(registrationForm) }}</section>
	</form>
{% endblock %}
