{% extends 'base.html.twig' %}
{% block title %}
	{{titre}}
{% endblock %}
{% block body %}

	<h1 class="titre">{{titre}}</h1>
	{{ form_start(form) }}
	<h1>{{ form_row(form.titre) }}</h1>
	{{ form_errors(form.titre) }}
	{{ form_row(form.type) }}
	{{ form_row(form.is_active) }}
	{{ form_row(form.images) }}
	{# {{ form_row(form.created_at)}} #}

	{# paramètres galerie d'images #}
		<div class="parametres-galerie"> {{ form_row(form.primary_background_color) }}
		{{form_row(form.gallery_width)}}
		{{form_row(form.gallery_gap)}}
		{{form_row(form.gallery_max_columns)}}
		{{form_row(form.gallery_height)}}
		{{ form_row(form.images_border_radius) }}
		{{form_row(form.images_border_width)}}
		{{form_row(form.images_shadow)}}
	</div>
	<button class="btn btn-enregistrer" type="submit">Enregistrer</button>

	<h2 class="titre centered">Galerie d'images</h2>

	{% if galerie.images|length ==0 %}
		<span class="centered alert">Il n'existe encore aucune image dans cette galerie (pensez à sauvegarder pour rafraichir la galerie.)</span>
	{% else %}
		<span class="centered success">{{galerie.images|length}}
			images enregistrées.</span>
	{% endif %}

	{# {{ form_rest(form) }} #}
	<div class="container-galerie" style="background-color:{{galerie.primarybackgroundcolor}}"></div>
	{{ form_end(form) }}
	{# Modale lightbox #}
	<div id="modale-lightbox" class="modal">
		<span class="btn-close-modal-lightbox">&times;</span>
		<div class="modal-content">
			<img src="" alt="">
			<div class="numerotation"></div>
		</div>
		{# Flèches #}
		<i id="lightbox-nav-gauche" class="fa-solid fa-angle-left"></i>
		<i id="lightbox-nav-droite" class="fa-solid fa-angle-right"></i>
	</div>
	{% block javascripts %}
		<script src="{{asset('assets/js/images.js')}}" type="module" defer></script>
		<script src="{{asset('assets/js/galeries.js')}}" type="module" defer></script>
		<script src="{{asset('assets/js/lightbox.js')}}" type="module" defer></script>	
	{% endblock %}
{% endblock %}
