{% extends 'base.html.twig' %}
{% block title %}
	{{titre}}
{% endblock %}
{% block body %}

	<h1 class="titre">{{titre}}</h1>
	{{ form_start(form) }}
	<h1>{{ form_row(form.titre) }}</h1>
	{{ form_errors(form.titre) }}
	{{ form_row(form.type) }}
	{{ form_row(form.is_active) }}
	{{ form_row(form.images) }}
	{# {{ form_row(form.created_at)}} #}

	{# paramètres galerie d'images #}
		<div class="parametres-galerie"> 
		<div class="inputs-galerie">
			{{ form_row(form.primary_background_color) }}
			{{form_row(form.gallery_width)}}
			{{form_row(form.gallery_gap)}}
			{{form_row(form.gallery_max_columns)}}
			{{form_row(form.gallery_height)}}
			{{ form_row(form.images_border_radius) }}
			{{form_row(form.images_border_width)}}
			{{form_row(form.images_shadow)}}
		</div>
		<div class="inputs-carousel">
			{{ form_row(form.carousel_speed) }}
			{{ form_row(form.carousel_transition) }}
		</div>
	</div>
	<button class="btn btn-enregistrer" type="submit">Enregistrer</button>

	<h2 class="titre centered">Galerie d'images</h2>

	{% if galerie.images|length ==0 %}
		<span class="centered alert">Il n'existe encore aucune image dans cette galerie (pensez à sauvegarder pour rafraichir la galerie.)</span>
	{% else %}
		<span class="centered success">{{galerie.images|length}}
			images enregistrées.</span>
	{% endif %}

	{# {{ form_rest(form) }} #}
	<div class="container-galerie"></div>
	{{ form_end(form) }}

	{# Lightbox images #}
	{{ include('_partials/_lightbox.html.twig') }}

	{% block javascripts %}
		<script src="{{asset('assets/js/images.js')}}" type="module" defer></script>
		<script src="{{asset('assets/js/galeries.js')}}" type="module" defer></script>
		<script src="{{asset('assets/js/lightbox.js')}}" type="module" defer></script>
		<script src="{{asset('assets/js/galeries-parameters.js')}}" type="module" defer></script>
	{% endblock %}
{% endblock %}
