{% extends 'base.html.twig' %}
{% block title %}
	{{titre}}
{% endblock %}
{% block body %}
	<button type="button" class="btn centered btn-go-back">
		<a href="{{path('galeries_liste_galeries')}}">Revenir à la liste des galeries</a>
	</button>

	<h1 class="titre">{{titre}}</h1>
	{{ form_start(form) }}
	<h1>{{ form_row(form.titre) }}</h1>
	{{ form_errors(form.titre) }}
	{{ form_row(form.type) }}
	{{ form_row(form.is_active) }}
	{{ form_row(form.images) }}
	{# {{ form_row(form.created_at)}} #}

	{# galerie d'images #}
		<div class="parametres-galerie"> {{ form_row(form.primary_background_color) }}
		{{form_row(form.gallery_width)}}
		{{form_row(form.gallery_gap)}}
		{{form_row(form.gallery_max_columns)}}
		{{form_row(form.gallery_height)}}
		{{ form_row(form.images_border_radius) }}
		{{form_row(form.images_border_width)}}
		{{form_row(form.images_shadow)}}
	</div>
	<button class="btn btn-enregistrer" type="submit">Enregistrer</button>

	<h2 class="titre centered">Galerie d'images</h2>

	{% if galerie.images|length ==0 %}
		<span class="centered alert">Il n'existe encore aucune image dans cette galerie (pensez à sauvegarder pour rafraichir la galerie.)</span>
	{% else %}
		<span class="centered success">{{galerie.images|length}}
			images enregistrées.</span>
	{% endif %}
	<div class="galerie" style="background-color:{{galerie.primarybackgroundcolor}}"></div>

	{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %}
{% block javascripts %}
	<script src="{{asset('assets/js/images.js')}}" type="text/javascript"></script>
	<script src="{{asset('assets/js/galeries.js')}}" type="text/javascript"></script>
{% endblock %}
