{% extends 'base.html.twig' %}
{% block title %}
	Liste des galeries d'images
{% endblock %}
{% block body %}

	{% if (liste is defined) and (liste is not null)%}
		<table>
			<thead>
				<tr>
					<th>Actions</th>
					<th>Images</th>
					<th>Liste des galeries</th>
					<th>Etat</th>
					<th>Type</th>
				</tr>
			</thead>
			<tbody>
				{% for gal in liste %}
					<tr>
						<td class="td-btn-actions">
							<a class="btn-action btn-modifier" href="{{path('galeries_modifier_galerie',{id:gal.id})}}">
								<i class="fa-regular fa-pen-to-square"></i>
							</a>
							<a class="btn-action btn-supprimer" href="{{path('galeries_supprimer_galerie',{id:gal.id})}}">
								<i class="fa-regular fa-trash-can"></i>
							</a>
						</td>
						<td>{{gal.images|length}}</td>
						<td>{{gal.titre}}</td>
						<td>{{gal.isactive (gal.isactive) ? "Active":"Privée" }}</td>
						<td>{{gal.type}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Il n'existe encore aucune galerie dans la base.</p>
	{% endif %}
{% endblock %}
