{% extends 'base.html.twig' %}
{% block title %}
	{{titre}}
{% endblock %}
{% block body %}

	<button type="button" class="btn centered">
		<i class="fa-solid fa-arrow-left"></i>
		<a href="{{path('pages_liste_pages')}}">Revenir à la liste des pages</a>
	</button>
	<h1 class="titre">{{titre}}</h1>

	{{ form_start(form) }}
	{{form_row(form.titre)}}
	{{form_row(form.sous_titre)}}
	{{form_row(form.etat)}}
	{{form_row(form.slug)}}
	{{form_row(form.ordre)}}
	{# Sections de la page #}
	<button type="submit" class="btn btn-enregistrer">
		<i class="fa-solid fa-download"></i>Enregistrer</button>
	{% if (form.sectionsPages|length >0) %}
		<h3>
			Liste des sections de page :
		</h3>
	{% endif %}
	<div class="sectionsPages" data-index="{{ form.sectionsPages|length > 0 ? form.sectionsPages|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.sectionsPages.vars.prototype)|e('html_attr') }}">
		{% for section in form.sectionsPages %}
			{% set counter = ( counter | default(0) ) + 1 %}
			<div class="sectionPage">
				<div class="entete-section">
					<p class="sectionNum"></p>
				</div>
				{{ form_row(section.titre) }}
				{{ form_row(section.contenu) }}
			</div>
		{% endfor %}
	</div>
	<button type="submit" class="btn btn-enregistrer">
		<i class="fa-solid fa-download"></i>Enregistrer</button>
	<button type="button" class="btnAddItem btn centered" data-collection-holder-class="sectionsPages">
		<i class="fa-solid fa-plus"></i>Ajouter section</button>

	{{ form_end(form) }}
	<button type="button" class="btn centered">
		<i class="fa-solid fa-arrow-left"></i>
		<a href="{{path('pages_liste_pages')}}">Revenir à la liste des pages</a>
	</button>
	{% block javascripts %}
		<script type="module" src="{{asset('assets/js/sections-pages.js')}}" defer></script>
	{% endblock %}
{% endblock %}
