{% extends 'base.html.twig' %}

{% block title %}
	{{titre}}
{% endblock %}
{% block body %}

	<div class="section-boutons-horizontale">
		<button type="submit" class="btn btn-enregistrer">Enregistrer</button>
		<button type="button" class="btn btn-creer-section">
			<a href="{{path('pages_creer_section')}}">Créer section</a>
		</button>
		<button type="button" class="btn btn-creer-galerie">
			<a href="#"></a>Créer galerie</button>
	</div>
	<h1 class="titre">{{titre}}</h1>
	{{ form_start(form) }}
	{{form_row(form.titre)}}
	{{form_row(form.sous_titre)}}
	{{form_row(form.etat)}}
	{{form_row(form.slug)}}
	{{form_row(form.ordre)}}
	{# {{form_row(form.created_at)}}
		{{form_row(form.updated_at)}} #}
	{# Sections de la page #}
		{# {% for section in form.SectionsPages %}		
			{{ form_row(section.titre) }}		
		{% endfor %} #}
		{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %}
