{% extends 'base.html.twig' %}
{% block title %}
	{{titre}}
{% endblock %}
{% block body %}	
	{% block macros %}
		{% macro niceForm(form) %}
			<div class="section-page">
				<div class="entete-section">
					<p class="sectionNum"></p>
				</div>
				{{form_row(form.titre)}}
				{{form_row(form.contenu)}}
				<div class="boutons-galerie">
					{{form_row(form.galerie)}}					
					<a href="{{path('galeries_creer_galerie')}}" class="btn">
						<i class="fa-solid fa-square-plus"></i>Créer galerie</a>
					<a href="" class="btn btn-ouvrir-galerie">
						<i class="fa-regular fa-folder-open"></i>Voir galerie</a>
				</div>
				<div class="container-miniatures">
				</div>
				<div class="pied-section">
					<button type="submit" class="btn btn-enregistrer">
						<i class="fa-solid fa-download"></i>Enregistrer la section</button>
					<button type="button" class="btn btnRemoveItem">
						<i class="fa-solid fa-trash-can"></i>Supprimer la section</button>
				</div>
			</div>
		{% endmacro niceForm %}
	{% endblock %}
	{% import _self as formMacros %}


	<button type="button" class="btn centered">
		<i class="fa-solid fa-arrow-left"></i>
		<a href="{{path('pages_liste_pages')}}">Revenir à la liste des pages</a>
	</button>
	<h1 class="titre">{{titre}}</h1>
	<a href="{{path('pages_previsualiser_page')}}" class="btn btn-previsualiser-page centered"><i class="fa-regular fa-file-lines"></i>Prévisualiser la page</a>
	{{ form_start(form) }}
	{{form_row(form.titre)}}
	{{form_row(form.sous_titre)}}
	{{form_row(form.etat)}}
	{{form_row(form.slug)}}
	{{form_row(form.ordre)}}
	{# Sections de la page #}
	<button type="submit" class="btn btn-enregistrer centered">
		<i class="fa-solid fa-download"></i>Enregistrer</button>
	{% if (form.sectionsPages|length >0) %}
		<h3>
			Liste des sections de page :
		</h3>
	{% endif %}
	<div class="sectionsPages" data-index="{{ form.sectionsPages|length > 0 ? form.sectionsPages|last.vars.name + 1 : 0 }}" data-prototype="{{formMacros.niceForm(form.sectionsPages.vars.prototype)|e('html_attr') }}">
		{% for section in form.sectionsPages %}
			{{formMacros.niceForm(section)}}			
		{% endfor %}
	</div>
	<button type="submit" class="btn btn-enregistrer">
		<i class="fa-solid fa-download"></i>Enregistrer</button>
	<button type="button" class="btnAddItem btn centered" data-collection-holder-class="sectionsPages">
		<i class="fa-solid fa-plus"></i>Ajouter section</button>

	{{ form_end(form) }}
	<button type="button" class="btn centered">
		<i class="fa-solid fa-arrow-left"></i>
		<a href="{{path('pages_liste_pages')}}">Revenir à la liste des pages</a>
	</button>
	{% block javascripts %}
		<script type="module" src="{{asset('assets/js/sections-pages.js')}}" defer></script>
	{% endblock %}
{% endblock %}
